main {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex: 1;
}

.columns {
	display: flex;
	flex:1;
	min-width: 0;
}

#region_1 {
	position: relative;
	flex: 1;
	order: 1;
	padding: 4.5rem 7px 200px 7px;
	min-width: 0;
}

#region_2 {
	position: relative;
	order: 2;
	padding: 4.5rem 7px 0px 7px;
}
